{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bakovka4/land_charges.css' %}">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='bakovka4' %}">Баковка 4</a>
    &rsaquo; <a href="{% url 'purpose_index' %}">Назначения</a>
    &rsaquo; <a href="{% url 'purpose_by_year' purpose=purpose %}">{{ purpose_name }}</a>
    {% if year != '-' %}
    &rsaquo; <a href="{% url 'purpose_by_month' purpose=purpose year=year %}">{{ year }}</a>
    {% endif %}
    &rsaquo; Участок №{{ land }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% if purpose_list %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>дата платежа</th>
                <th class="align-right">сумма</th>
                <th>назначение</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in purpose_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="nowrap">{{ payment.pay_date|date:"d.m.Y" }}</td>
                <td class="align-right">{{ payment.amount }}</td>
                <td class="nowrap">{{ payment.pay_purpose }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tr style="font-weight: bold; background: #d0d0d0;">
                <td style="font-size: 15px;">Итого</td>
                <td class="align-right">{{ total|floatformat:2 }}</td>
                <td class="align-right"><!----></td>
            </tr>
        </table>
    </div>
    {% endif%}
</div>
{% endblock %}

{% block sidebar %}
{% if purpose == 'membership' %}
<div id="land-charges">
    <div class="module" id="charges-calc">
        <p>Калькулятор</p>
        <table>
            <tr>
                <td>С месяца</td>
                <td><input type="text" id="fr_month" value="04.2019">
                    <input type='button' id='fm_up' value="&#x02C6;" style="padding: 0px 5px;"
                           onClick="javascript:chMonth('fr_month', 1 )">
                    <input type='button' id='fm_do' value="&#x032C;" style="padding: 0px 8px;"
                           onClick="javascript:chMonth('fr_month', -1)">
                </td>
            </tr>
            <tr>
                <td>По месяц</td>
                <td><input type="text" id="to_month" value="02.2020">
                    <input type='button' id='tm_up' value="&#x02C6;" style="padding: 0px 5px;"
                           onClick="javascript:chMonth('to_month', 1 )">
                    <input type='button' id='tm_do' value="&#x032C;" style="padding: 0px 8px;"
                           onClick="javascript:chMonth('to_month', -1)">
                </td>
            </tr>
        </table>
        <input type='button' id='count' value='Рассчитать'
               onClick='javascript:countCharge (
                        document.getElementById("fr_month").value,
                        document.getElementById("to_month").value)'>
        <div id="months"></div>
        <div id="intervals"></div>
    </div>
    <div class="module" id="charges-reference">
        <p>Начисления</p>
        <table>
            <thead>
            <tr>
                <th>Период</th>
                <th>Месяцев</th>
                <th>За месяц</th>
                <th>Всего</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>06.2014 - 06.2015</td>
                <td>13</td>
                <td>600</td>
                <td>7800</td>
            </tr>
            <tr>
                <td>07.2015 - 05.2017</td>
                <td>23</td>
                <td>800</td>
                <td>18400</td>
            </tr>
            <tr>
                <td>06.2017 - 05.2019</td>
                <td>24</td>
                <td>850</td>
                <td>20400</td>
            </tr>
            <tr>
                <td>06.2019 - 03.2020</td>
                <td>10</td>
                <td>1000</td>
                <td>10000</td>
            </tr>
            </tbody>
            <tr>
                <td style="text-align: left;">Итого</td>
                <td></td>
                <td></td>
                <td>56600</td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% block charge_calc %}
<script type="text/javascript"
        id="charge-calc"
        src="{% static 'bakovka4/charges_calc.js' %}">
</script>
{% endblock %}
{% endblock %}
