{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bakovka4/land_charges.css' %}">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='bakovka4' %}">Баковка 4</a>
    &rsaquo; <a href="{% url 'purpose_index' %}">Назначения</a>
    &rsaquo; <a href="{% url 'purpose_by_year' purpose=purpose %}">{{ purpose_name }}</a>
    {% if year != '-' %}
    &rsaquo; <a href="{% url 'purpose_by_month' purpose=purpose year=year %}">{{ year }}</a>
    {% endif %}
    &rsaquo; Участок №{{ land }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div id="charge_part">
        <table>
            {% if purpose == 'membership' %}
            <tr>
                <td>К оплате за расчетный период с <span id="memb_from" style="color: #ff0000">{{ memb_from }}</span>
                по <span id="memb_to" style="color: #ff0000">{{ memb_to }}</span></td>
                <td id="charge_sum" style="color: #008000; font-size: 18px; font-weight: bold; text-align: right;"></td>
            </tr>
            <tr>
                <td>Долг / переплата за расчетный период</td>
                <td id="debt_calc_period" style="font-size: 18px; font-weight: bold; text-align: right;"></td>
            </tr>
            <tr>
                <td>Долг / переплата по <span id="cur_month" style="color: #ff0000"></span></td>
                <td id="debt_cur_month" style="font-size: 18px; font-weight: bold; text-align: right;"></td>
            </tr>
            {% elif purpose == 'road' %}
            <tr>
                <td>К оплате за расчетный период с <span id="auto_from" style="color: #ff0000">{{ auto_from }}</span>
                по <span id="auto_to" style="color: #ff0000">{{ auto_to }}</span></td>
                <td id="auto_sum" style="color: #008000; font-size: 18px; font-weight: bold; text-align: right;">
                    {{ auto_tot|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Долг / переплата за расчетный период</td>
                <td id="debt_auto" style="color: {{ ca_col }}; font-size: 18px; font-weight: bold; text-align: right;">
                    {{ debt_auto|floatformat:2 }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <p></p>
    {% if purpose_list %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>дата платежа</th>
                <th class="align-right">сумма</th>
                <th>назначение</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in purpose_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="align-right">
                    <a href="{% url 'admin:app_list' app_label='bakovka4' %}paymentchr/{{payment.id}}/change/">
                        {{ payment.id }}</a>
                </td>
                <td class="nowrap">{{ payment.pay_date|date:"d.m.Y" }}</td>
                <td class="align-right">{{ payment.amount }}</td>
                <td class="nowrap">{{ payment.pay_purpose }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tr style="font-weight: bold; background: #d0d0d0;">
                <td style="font-size: 15px;" colspan="2">Итого</td>
                <td class="align-right" id="charge_total">{{ total|floatformat:2 }}</td>
                <td class="align-right"><!----></td>
            </tr>
        </table>
    </div>
    {% endif%}
</div>
{% endblock %}

{% block sidebar %}
{% if purpose == 'membership' %}
<div id="land-charges">
    <div class="module" id="charges-calc">
        <p>Калькулятор</p>
        <table>
            <tr>
                <td>С месяца</td>
                <td><input type="text" id="fr_month" value="06.2014">
                    <input type='button' id='fm_up' value="&#x02C6;" style="padding: 0px 5px;"
                           onClick="javascript:chMonth('fr_month', 1 )">
                    <input type='button' id='fm_do' value="&#x032C;" style="padding: 0px 8px;"
                           onClick="javascript:chMonth('fr_month', -1)">
                </td>
            </tr>
            <tr>
                <td>По месяц</td>
                <td><input type="text" id="to_month" value="03.2020">
                    <input type='button' id='tm_up' value="&#x02C6;" style="padding: 0px 5px;"
                           onClick="javascript:chMonth('to_month', 1 )">
                    <input type='button' id='tm_do' value="&#x032C;" style="padding: 0px 8px;"
                           onClick="javascript:chMonth('to_month', -1)">
                </td>
            </tr>
        </table>
        <input type='button' id='count' value='Рассчитать'
               onClick='javascript:countCharge (
                        document.getElementById("fr_month").value,
                        document.getElementById("to_month").value, 1)'>
        <div id="months"></div>
        <div id="intervals"></div>
    </div>
    <div class="module" id="charges-reference">
        <p>Начисления</p>
        <table>
            <thead>
            <tr>
                <th>Период</th>
                <th>Месяцев</th>
                <th>За месяц</th>
                <th>Всего</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>06.2014 - 06.2015</td>
                <td>13</td>
                <td>600</td>
                <td>7800</td>
            </tr>
            <tr>
                <td>07.2015 - 05.2017</td>
                <td>23</td>
                <td>800</td>
                <td>18400</td>
            </tr>
            <tr>
                <td>06.2017 - 05.2019</td>
                <td>24</td>
                <td>850</td>
                <td>20400</td>
            </tr>
            <tr>
                <td>06.2019 - 03.2020</td>
                <td>10</td>
                <td>1000</td>
                <td>10000</td>
            </tr>
            </tbody>
            <tr>
                <td style="text-align: left;">Итого</td>
                <td></td>
                <td></td>
                <td>56600</td>
            </tr>
        </table>
    </div>
</div>
{% elif purpose == 'road' %}
{% if years_auto %}
<div id="land-charges">
    <div class="module" id="charges-calc">
        <table>
            <thead>
            <tr>
                <th>год</th>
                <th>количество машин</th>
                <th>сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for year in years_auto %}
            <tr>
                <td>{{ year.year }}</td>
                <td class="align-right">{{ year.count }}</td>
                <td class="align-right">{{ year.sum|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tr style="font-weight: bold; background: #d0d0d0;">
                <td style="font-size: 15px;" colspan="2">Итого</td>
                <td class="align-right" id="auto_tot">{{ auto_tot|floatformat:2 }}</td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% endif %}
{% block charge_calc %}
<script type="text/javascript"
        id="charge-calc"
        src="{% static 'bakovka4/charges_calc.js' %}">
</script>
<script>
    window.onload = function() {
        var charge_sum = countCharge (
            document.getElementById("memb_from").innerHTML,
            document.getElementById("memb_to").innerHTML, 0);
        var memb_to = document.getElementById("memb_to").innerHTML;
        var to_parsed = memb_to.match (/^(.{2})\.(.{4})$/);
        var to_month = to_parsed[1];
        var to_year = to_parsed[2];
        var to_date = to_month + "." + to_year;
        var green = "#008000";
        var red = "#ff0000";

        var debt_cur_month = document.getElementById("debt_cur_month");
        var d = new Date();
        var cur_month = ("000"+(d.getMonth()+1).toString()).slice(-2);
        var cur_year = d.getFullYear().toString();
        var cur_date = cur_month + "." + cur_year;
        document.getElementById("cur_month").innerHTML  = cur_date;
        if ( monthsBetween (
             { month: to_month,  year: to_year  },
             { month: cur_month, year: cur_year } ) > 1 ) {
             debt_cur_month.style.color = red;
             var to1 = addMonth ( to_month, to_year, 1 );
             to1 = to1.month + "." + to1.year;
             debt_cur_month.innerHTML = (- countCharge ( to1, cur_date, 0 )).toFixed(2);
        }
        else {
             debt_cur_month.style.color = green;
             cur1 = addMonth ( cur_month, cur_year, 1 );
             cur1 = cur1.month + "." + cur1.year;
             debt_cur_month.innerHTML = (countCharge ( cur1, to_date, 0 )).toFixed(2);
        }

        document.getElementById("charge_sum").innerHTML = charge_sum.toFixed(2);

        var charge_total = document.getElementById("charge_total").innerHTML;
        charge_total = charge_total.replace (/,.{2}$/, "");
        var debt_calc_period = document.getElementById("debt_calc_period");
        debt_calc_period.innerHTML   = (charge_total - charge_sum).toFixed(2);
        debt_calc_period.style.color = charge_total - charge_sum >= 0 ? green : red;
    }
</script>
{% endblock %}
{% endblock %}
